<nav class="nav" [class.imprint]="isImprintPage()">
  <a [routerLink]="['/']">
    <img
      [src]="isImprintPage() ? 'images/header/logo_blue.png' : 'images/header/logo.png'"
      alt="logo"
    />
  </a>

  <ul class="nav__list">
    <li>
      <a href="#about">
        {{ 'header.about' | transloco }}
      </a>
    </li>

    <li>
      <a href="#skills">
        {{ 'header.skills' | transloco }}
      </a>
    </li>

    <li>
      <a href="#work">
        {{ 'header.work' | transloco }}
      </a>
    </li>

    <li class="nav__lang">
      <a
        href="#"
        (click)="changeLang('de'); $event.preventDefault()"
        [class.active]="activeLang === 'de'"
      >
        DE
      </a>

      <span>/</span>

      <a
        href="#"
        (click)="changeLang('en'); $event.preventDefault()"
        [class.active]="activeLang === 'en'"
      >
        EN
      </a>
    </li>
  </ul>
</nav>
