<nav class="nav" [class.imprint]="isImprintPage()">
  <a [routerLink]="['/']" class="nav__logo-link">
    <img
      class="nav__logo"
      [src]="isImprintPage() ? 'images/header/logo_blue.png' : 'images/header/logo.png'"
      alt="logo"
    />
  </a>

  <ul class="nav__list">
    <li>
      <a href="#about">{{ 'header.about' | transloco }}</a>
    </li>

    <li>
      <a href="#skills">{{ 'header.skills' | transloco }}</a>
    </li>

    <li>
      <a href="#projects">{{ 'header.work' | transloco }}</a>
    </li>

    <li class="nav__lang">
      <a
        href="#"
        (click)="uiService.changeLang('de'); $event.preventDefault()"
        [class.active]="uiService.activeLang === 'de'"
      >
        DE
      </a>

      <span>/</span>

      <a
        href="#"
        (click)="uiService.changeLang('en'); $event.preventDefault()"
        [class.active]="uiService.activeLang === 'en'"
      >
        EN
      </a>
    </li>
  </ul>
</nav>
