<nav class="nav" [class.imprint]="isImprintPage()">
  <a [routerLink]="['/']">
    <img
      [src]="isImprintPage() ? 'images/header/logo_blue.png' : 'images/header/logo.png'"
      alt="logo"
    />
  </a>

  <ul class="nav__list">
    <li><a href="#about">About me</a></li>
    <li><a href="#skills">Skill set</a></li>
    <li><a href="#work">My work</a></li>

    <li class="nav__lang">
      <a href="#">DE</a>
      <span>/</span>
      <a href="#" class="active">EN</a>
    </li>
  </ul>
</nav>
