$font-Bahloo: 'Baloo 2';
$font-Montserrat: 'Montserrat';
$color_primary: #5988ff;
$color_secondary: #333;
$bc_color-white: #ffffff;
$hero_bg_color: #eaf0ff;
$bg-light-gradient: linear-gradient(179.99deg, #ffffff 12.89%, #eaf0ff 91.39%);

body {
  background: $bc_color-white;
  height: 100vh;
}

.main-container {
  width: 100%;
  margin: 0;
  position: relative;
  background-color: $bg-light-gradient;
  font-family: $font-Montserrat, sans-serif;
}

.header__content {
  width: 100%;
  position: relative;
  background-color: $bg-light-gradient;
}

.main_content_section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  color: $color_secondary;
  background-color: $bc_color-white;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.mobile_menu {
  display: none;
  position: absolute;
  top: 10px;
  left: 50%;
  width: calc(100% - 32px);
  max-width: 1440px;
  transform: translateX(-50%);
  box-sizing: border-box;
  z-index: 100;
}

.ellips_box {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .ellips_5 {
    position: absolute;
    top: -90px;
  }
}

@media (max-width: 1000px) {
  .header {
    display: none;
  }

  .mobile_menu {
    display: block;
  }
}
