$font-baloo: 'Baloo 2', cursive;
$font-montserrat: 'Montserrat', sans-serif;

$color-primary: #5988ff;
$color-white: #fff;
$color-black: #000;
$color-border: #b7b7b7;

$bg-top: #fff;
$bg-bottom: #eaf0ff;
