.ell7 {
  width: 100%px;
  padding-top: 40px;
  display: flex;
  justify-content: center;

  .Ellipse7 {
    width: 183px;
    height: 183px;
  }
  .Ellipse7 {
    width: 106px;
    height: 107px;
  }
}
.ell8 {
  width: 90%;
  display: flex;
  justify-content: flex-end;

  .Ellipse8 {
    width: 183px;
    height: 183px;
  }
}
.ll4 {
  width: fit-content;

  .Ellipse4 {
    width: 183px;
    height: 183px;
  }
}
.ell10 {
  width: 100%;
  display: flex;
  justify-content: start;
  padding-left: 150px;
  padding-top: 100px;

  .Ellipse10 {
    width: 51px;
    height: 51px;
  }
}
.ell9 {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .Ellipse10 {
    width: 51px;
    height: 51px;
  }
  .ell11 {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 150px;
    .Ellipse11 {
      width: 237px;
      height: 237px;
    }
  }

  .ell12 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
